.hero {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 80vh;
  position: relative;
  margin-bottom: 60px;
  @media (max-width: 940px) {
    height: 70vh;
  }
}

.hero:before {
  content: "";
  background: url("https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 20px;

  .title {
    font-size: 35px;
    text-transform: capitalize;
    @media (max-width: 940px) {
      font-size: 30px;
    }
  }

  .search-text {
    margin: 15px;
    font-size: 20px;
  }

  .search {
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 4px;
    border-radius: 8px;

    .input-text {
      border: transparent;
      background-color: transparent;
      width: 400px;
      font-size: 20px;
      @media (max-width: 940px) {
        width: 100%;
      }
    }

    .input-text:focus {
      outline: none;
    }

    .label {
      padding: 0 14px 0 8px;
    }

    .radio {
      display: flex;
      align-items: center;
    }

    button {
      background-image: linear-gradient(
        45deg,
        rgb(105, 38, 153) 0%,
        rgb(126, 80, 151) 100%
      );

      border: 1px solid rgb(105, 38, 153);
      color: white;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
