* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.btn {
  color: white;
  padding: 12px 24px;
  background-image: linear-gradient(
    45deg,
    rgb(105, 38, 153) 0%,
    rgb(126, 80, 151) 100%
  );
  border: none;
  border-radius: 8px;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0 0 1 rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
